<aside id="sidebar active">
  <p-sidebar [(visible)]="sidebarVisible" >
    <h3 id="nameMenu">Menu</h3>
    <p-panelMenu class="itemsSidebar" [model]="itemsSidebar" styleClass="w-full md:w-20rem"></p-panelMenu>

  </p-sidebar>
  <p-button
    id="sidebarMenuButton"
    type="button"
    (click)="sidebarVisible = true"
    label=""
    [rounded]="true"
    severity="contrast"
    icon="pi pi-bars"
  />
</aside>

<!---
<ul class="list-group">

  <li routerLink="HomePage"
    class="list-group-item">
    HomePage
  </li>

  <li routerLink="mainLogin"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item">
    mainLogin
  </li>

  <li class="list-group-item" >
    HomePage
  </li>

</ul> -->
