<aside id="sidebar">
  <p-sidebar [(visible)]="sidebarVisible" styleClass="layout-config-sidebar w-20rem">
    <h3 id="nameMenu">Menu</h3>
    <p-panelMenu class="itemsSidebar"
      [model]="itemsSidebar"
      styleClass="w-full md:w-15rem">
    </p-panelMenu>

  </p-sidebar>
  <p-button
    id="sidebarMenuButton"
    type="button"
    (click)="sidebarVisible = true"
    label=""
    [rounded]="true"
    severity="contrast"
    icon="pi pi-bars"
  />
</aside>

<!-- [(visible)]="visible"
position="right"
[transitionOptions]="'.3s
cubic-bezier(0, 0, 0.2, 1)'"
styleClass="layout-config-sidebar w-20rem -->
