<!-- Header Superior -->
<div class="flex overflow-hidden">
    <div class="flex-1 md:flex-auto flex align-items-center justify-content-center py-3 ml-6">
        <a href="/home">
            <img id="logo" src="/assets/images/LogoINFORCOL.png" alt="Logo inforcol" style="width: 250px;" />
        </a>
    </div>
    <div class="flex-auto md:flex-auto flex align-items-left align-items-center py-3 w-6 ml-6">
        <infoSalud-sidebar></infoSalud-sidebar>
    </div>
    <div class="flex-1 md:flex-auto flex align-items-left py-5">
        <img src="../../../../assets/icons/liberty.ico" alt="" style="width: 70px; height: 70px;">
    </div>
    <div class="flex-1 md:flex-auto flex align-items-center py-3">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="none" stroke="#404040" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 20v-1a7 7 0 0 1 7-7v0a7 7 0 0 1 7 7v1m-7-8a4 4 0 1 0 0-8a4 4 0 0 0 0 8"/></svg>
        </a>
    </div>
    <infoSalud-settings-menu></infoSalud-settings-menu>
    <!-- <div class="flex-1 md:flex-auto flex align-items-center justify-content-center ml-5 py-3">

    </div> -->
 </div>
<!-- Header inferior libreria -->
 <div class="overflow-hidden bg-hi text-center">
    <div class="flex text-white font-medium">
        <div class="flex-1 md:flex-auto flex ml-5 py-3">
            <p>Fecha Actual: {{fechaFormateada}}</p>
        </div>
        <div class="flex-1 md:flex-auto flex ml-5 py-3">
            <div class="text-right">
                <p>Usuario: Cristian Steven Gonzalez Arango</p>
            </div>
        </div>
    </div>

 </div>

<!-- script para Fecha actual en el header
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script>
    var app = angular.module('headerApp', []);

    app.controller('fechaController', function($scope){
      $scope.fechaActual = new Date();
    });
</script> -->
