<p-panel>
  <div>
    <h2>Bienvenido a InfoSalud</h2>
  </div>

  <div class="flex flex-wrap mt-4 mb-5 w-full">
    <div class="flex text-center col-4">
      <div class="card p-fluid" id="home-card">
        <div class="mt-4 mb-5">
          <i class="pi pi-shield" style="font-size: 60px"></i>
        </div>
        <div class="w-full align-items-center">
          <h2>Soluciones para nuestros proveedores</h2>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            suscipit hic quos dicta amet veritatis dolor dolore, omnis maxime
            voluptatibus cumque fugit molestias id nemo facilis corrupti
            asperiores libero nihil.
          </p>
          <div>
            <p-button
              label="Proveedores"
              [routerLink]="['/proveedores']"
              class="mt-4">
            </p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex col-4 text-center">
      <div class="card p-fluid align-items-center" id="home-card">
        <div class="mt-4 mb-5">
          <i class="pi pi-search" style="font-size: 60px"></i>
        </div>
        <div>
          <h2>Estrategia para nuestros clientes</h2>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            suscipit hic quos dicta amet veritatis dolor dolore, omnis maxime
            voluptatibus cumque fugit molestias id nemo facilis corrupti
            asperiores libero nihil
          </p>
          <div>
            <p-button
              label="Configurar parametros"
              [routerLink]="['/administracion/parametros']"
              class="mt-4">
            </p-button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex col-4 text-center">
      <div class="card p-fluid align-items-center" id="home-card">
        <div class="mt-4 mb-5">
          <i class="pi pi-book" style="font-size: 60px"></i>
        </div>
        <div>
          <h2>Diseñamos software a la medida</h2>
        </div>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint
            suscipit hic quos dicta amet veritatis dolor dolore, omnis maxime
            voluptatibus cumque fugit molestias id nemo facilis corrupti
            asperiores libero nihil.
          </p>
          <div>
            <p-button
              label="Convenios"
              [routerLink]="['/convenios']"
              class="mt-4">
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="home-page" class="justify-content-center text-center"></div>
</p-panel>
