<p-buttonGroup>
  <div
    class="formgrid grid"
    [ngClass]="{
      'col-offset-6': isExtraLargeScreen,
      'col-offset-4': isLargeScreen,
      'col-offset-2': isMediumScreen,
      'col-offset-1': isSmallScreen,
      'col-offset-0': isExtraSmallScreen
    }"
  >
    <div class="field-col mt-2">
      <p-button
        label="Nuevo"
        [raised]="true"
        [rounded]="true"
        [routerLink]="['/proveedores/nuevo-proveedor']"
      />
    </div>
    <div class="field-col ml-2 mt-2">
      <p-button type="submit" label="Buscar" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col gap-3 ml-2 mt-2">
      <p-button label="Limpiar" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col gap-3 ml-2 mt-2">
      <p-button label="Descargar" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col gap-3 ml-2 mt-2">
      <p-button label="Masivo" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col gap-3 ml-2 mt-2">
      <p-button label="Salir" [raised]="true" [rounded]="true" />
    </div>
  </div>
</p-buttonGroup>
