<p-buttonGroup>
  <div
    class="formgrid grid"
    [ngClass]="{
      'col-offset-8': isExtraLargeScreen,
      'col-offset-6': isLargeScreen,
      'col-offset-4': isMediumScreen,
      'col-offset-2': isSmallScreen,
      'col-offset-0': isExtraSmallScreen
    }"
  >
    <div class="field-col">
      <p-button label="Limpiar" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col ml-4">
      <p-button label="Agregar" [raised]="true" [rounded]="true" />
    </div>
    <div class="field-col ml-4">
      <p-button
        label="Nuevo"
        [raised]="true"
        [rounded]="true"
        [routerLink]="['/proveedores/nuevo-proveedor']"
      />
    </div>
    <div class="field-col gap-3 ml-4">
      <p-button type="submit" label="Buscar" [raised]="true" [rounded]="true" />
    </div>
  </div>
</p-buttonGroup>
