#footer{
  /* background-color: #FFFFFF; */
  /* padding: 20px; */
  /* border-top: 20px; */
  width: 100%;
  align-items: center;
}

.container-footer p{
  /* margin-top:10px; */
  font-weight: 600;
  margin-bottom: 20px;
}

.container-footer p img{
  width: 50px;
}
