<p>hello-word works!</p>
<div>
  <h1>{{helloMessage}}</h1>

  <!-- Formulario -->
  <div class="container">
      <h2>Agregar Usuario</h2>
      <!-- Como se especifico en app.component.ts -->
      <form [formGroup]="userForm" (ngSubmit)="addUser()">
        <label for="name">Nombre: </label>
        <input id="name" formControlName="name" type="text">
        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="alert">
          El nombre es obligatorio.
        </div>

        <label for="age">Edad: </label>
        <input id="age" formControlName="age" type="number">
        <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched" class="alert">
          Proporcione una edad valida (mayor que cero).
        </div>

        <button type="submit" [disabled]="userForm.invalid">Agregar</button>
      </form> 

      <!-- Tabla -->
      <h3>Lista de Usuarios</h3>
      <table *ngIf ="users.length > 0; else noData">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Mensaje cuando no hay datos -->
      <ng-template #noData class="noData">
        <p>Sin datos</p>
      </ng-template>
  </div> 
</div>
