<div class="card flex justify-content-center">
  <p-panel header="Header" [toggleable]="true">
    <p-floatLabel>
      <input pInputText pKeyFilter="alpha" id="name"  />
      <label htmlFor="name1">Name</label>
    </p-floatLabel>
    <br>
    <p-floatLabel>
      <input pInputText id="surname" type="text" />
      <label htmlFor="surname">surname</label>
    </p-floatLabel>
    <infoSalud-dropdown-cards></infoSalud-dropdown-cards>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </p-panel>
</div>
