<!-- <div class="card"> -->
  <p-panel header="BUSCADOR DE PROVEEDORES" [toggleable]="true">
    <div class="formgrid grid col-offset-8">
      <div class="field-col">
        <p-button label="Limpiar" [raised]="true" [rounded]="true"  />
      </div>
      <div class="field-col ml-4">
        <p-button label="Nuevo" [raised]="true" [rounded] = "true" />
      </div>
      <div class="field-col gap-3 ml-4">
        <p-button label="Buscar" [raised]="true" [rounded] = "true" />
      </div>
    </div>
    <!-- Row 1 -->
    <div class="formgrid grid mt-4">
      <div class="field col">
        <p-floatLabel>
          <input pInputText pKeyFilter="alpha" id="name" variant="filled"/>
          <label htmlFor="name">Grupo</label>
        </p-floatLabel>
      </div>
      <div class="field col">
        <p-floatLabel>
          <input pInputText id="codigo" type="number" />
          <label htmlFor="codigo">Codigo</label>
        </p-floatLabel>
      </div>
      <div class="field col">
        <p-floatLabel>
          <input pInputText id="valor" type="text" />
          <label htmlFor="valor">Valor</label>
        </p-floatLabel>
      </div>
      <div class="field col">
        <p-floatLabel>
          <input pInputText id="application" type="text" />
          <label htmlFor="application">Aplicativo</label>
        </p-floatLabel>
      </div>
    </div>
    <div class="formgrid grid mt-3">
      <div class="field col">
        <p-floatLabel>
          <input pInputText id="descripcion_grupo" type="text" />
          <label htmlFor="descripcion_grupo">Descripci&oacute;n grupo</label>
        </p-floatLabel>
      </div>
      <div class="field col">
        <p-floatLabel>
          <input pInputText id="description_parameter" type="text" />
          <label htmlFor="description_parameter">Descripci&oacute;n Par&aacute;metro</label>
        </p-floatLabel>
      </div>
      <div class="field col">
        <infoSalud-dropdown-cards></infoSalud-dropdown-cards>
      </div>
      <div class="field col">
        <p-floatLabel>
          <input pInputText pKeyFilter="alpha" id="user" type="text" />
          <label htmlFor="user">Usuario</label>
        </p-floatLabel>
      </div>
    </div>
    <div class="formgrid grid mt-3">
      <div class="field col">
        <input id="disabled-date" type="text" ptInputText [disabled]="true" />
      </div>
      <div class="field col">
        <input
          id="disabled-date"
          type="text"
          ptInputText
          [disabled]="true"
        />
      </div>
    </div>

  </p-panel>
  <!-- Searchs -->
   <div class="mt-4"></div>
  <p-panel header="ENCONTRADOS" [toggleable]="true" >

  </p-panel>
<!-- </div> -->
