/* You can add global styles to this file, and also import other style files */
@import "./assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";

@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/primeflex/primeflex.css";


/* Variable gutter */
:root{
  --gutter: 0 0.5rem;
}


/* Estilos p-floatLabel */
/* -------------------------------- */
/* p-floatLabel */
#custom-pfloatLabel {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Clase para las clases de los label en los pFloatLabel */
.custom-w{
  width: 70%;
}

/* Estilos de los iconos en los INPUT */
.p-inputtext .p-datepicker-trigger {
  background: transparent; /* Elimina el fondo del botón del ícono */
  border: none; /* Elimina cualquier borde que pueda aparecer */
  outline: none; /* Elimina el contorno del enfoque */
}

.p-inputtext .p-datepicker-trigger:hover {
  cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el ícono */
}

/* --------------------------------------------- */

/* ESTILOS DE TABLAS */
/* ------------------------------------------------- */
/* Tamaño de la fuente titulo */
.p-table-title{
  font-size: 12px;
}

/* Estilos para los iconos dentro de la tabla */
.p-datatable .p-button.p-button-icon-only{
  width: 1.5rem;
  padding: 0.5rem 0;
  height: 1.5rem;
}

/* Quitar padding de todas las tablas */
.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px;
}

/* ------------------------------------------------- */


/* BOTONES */
/* Estilo para los botones disabled */


/* Estilos para los botones requeridos y disabled globales */
.ipt-required,
.ipt-required .p-dropdown,
.ipt-required .p-calendar{
  background-color: rgba(255, 226, 226, 0.762); /* Borde rojo si es inválido */
}

.ipt-disabled,
.ipt-disabled .p-dropdown,
.ipt-required .p-calendar{
  opacity: 1 !important;
  pointer-events: none;
  background-color: #d6d6d6;
}

/* Estilo para el tamaño de los input */
input,
.p-dropdown,
.p-calendar{
  width: 100%;
  /* height: 30px; */
}

/* Tamaño de los botones de forma global */
.p-button-custom .p-button{
  /* display: inline-block; */
  height: 45px;
  width: 45px;
}


/* --------------------------- */


/* ESTILOS PARA EL MANEJO DE LOS COL */
/* Estilo para el tamaño total de la fila */
/* Se esta manejando con 4 inputs por fila */
/* Margin top entre filas */
.mt-custom{
  /* mt-3 */
  margin-top: 1rem;
  /* mt-4 */
  /* margin-top: 1.5rem */
}

/* Estilo para el ancho de la fila */
.custom-col-extend{
  flex: 0 0 auto;
  width: 100%;
  padding: var(--gutter);
}
/* Estilo para el espacio de componente por fila */
.custom-col{
  flex: 0 0 auto;
  width: 25%;
  padding: var(--gutter);
}
/* ----------------------------------- */

/* ESTILOS MODALES */
/* Estilo botones modales */
.p-dialog-footer .p-button {
  width: 40px;
}


/* Estilos del Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 4em;
  width: 4em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  /* Transparent Overlay */
  .loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.712);
  }
  .ui-progress-spinner-circle {
    border-top-color: #3498db !important; /* Color del borde superior (azul) */
    border-right-color: rgba(245, 241, 241, 0.952) !important; /* Parte transparente */
    border-bottom-color: rgba(241, 240, 240, 0.973) !important;
    border-left-color: rgba(255, 255, 255, 0.863) !important;
    background-color: transparent !important; /* Fondo transparente */
  }
  .ui-progress-spinner {
    width: 100% !important;
    height: 100% !important;
  }