<!-- src/app/login/login.component.html -->
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input id="username" pInputText  formControlName="username" type="email" required>
      <div *ngIf="username?.invalid && (username?.dirty || username?.touched)">
        <small *ngIf="username?.errors?.['required']">Username is required.</small>
        <small *ngIf="username?.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </div>

    <div>
        <label for="password">Password</label>
        <p-password id="password" formControlName="password" [feedback]="false" [toggleMask]="true"/>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
          <small *ngIf="password?.errors?.['required']">Contraseña es requerida.</small>
          <small *ngIf="password?.errors?.['minlength']">La contraseña debe contener almenos 6 caracteres.</small>
        </div>
    </div>

    <div class="mt-4 align-content-center">
      <re-captcha
        (resolved)="resolved($event)"
        siteKey="6LeHRDsfAAAAAOkNj6VcGBU8jcX1qjiMqV_jhXMf"
        formControlName="recaptcha"
      ></re-captcha>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>
  </form>

</div>
