<!-- <div id="settingSidebar"> -->
<div class="sidebar-theme-container">
  <div>
    <p-sidebar
    [(visible)]="settingSidebar"
    dismissableMark="true"
    position="right"
    [modal]="true"
    class = "adaptive-sidebar-right"
    >
    <!-- <h3 class="mb-5">Temas</h3> -->
    <div class="mt-3">
      <app-config/>
    </div>


    <!-- <div>
      <p-fileUpload class="w-5" name="file" url="./upload.php" (onUpload)="onUpload($event)"></p-fileUpload>
    </div> -->
    <!-- class="p-button-custom" -->
    <div class="mt-4">
      <div class="field-col">
        <p-button
        label="Configuraciones principales"
        [raised]="true"
        [routerLink]="['/administracion/parametros']"
        />
      </div>
    </div>
    </p-sidebar>


  </div>

  <p-button
    id="settingButton"
    type="button"
    (click)="settingSidebar = true"
    label=""
    severity="contrast"
    icon="pi pi-cog"
    [rounded]="true"
  >
  </p-button>



</div>
